.game {
    display: flex;
    width: fit-content;
    z-index: 5;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
    overflow: hidden;
    background-color: #4f4f4f;
    border: 5px solid black;
    border-radius: 20px; /* Rounded corners */
    padding: 20px; /* Padding for content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.game_content {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
}

.game_content_spin {
    padding: 1rem 4rem;
    margin-top: 1rem;
    font-size: 1.6rem;

    border-radius: 20rem;
    border: 0.1rem solid #fff;
    color: #000000;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game_content_spin:hover {
    background-color: #fff;
    color: #72ec01;
}
